
<!--<div class="wrap">-->
    <h1>Hello, customer!</h1>
<div class="wrap">
    <div class="instructions"> Please sign in or sign up if you have not an account. </div>
    <div class="button-area">
        <form action="/customer/signup" method="get">
            <input class="submit-button" type="submit" name="sign-up" value="SIGN UP" id="sign-up">
        </form>
        <form action="/customer/login" method="get">
            <input class="submit-button" type="submit" name="sign-in" value="SIGN IN" id="sign-in">
        </form>
    </div>
</div>
<!--</div>-->
