<div class="wrap-vertical">
    <div class="instructions">Enter the code from sms</div>
    <div class="error-message">{{errorMessage}}</div>
    <form class="code-form" action="/customer/account/newpassword" method="post">
        <input type="text" name="phone" id="phone-number" value={{phone}}>
        <input type="text" name="code" id="phone-code" >
        <input class="submit-button" type="submit" name="sign-up" value="Check code">
    </form>

    <form class="resend-code-form" action="/customer/account/changepassword" method="post">
        <p id="countdown" style="display: none">You can resend code in <span></span> seconds</p>
        <input type="hidden" name="phone" id="phone-number" value={{phone}}>
        <input class="mini-submit-button" id="resend-code" type="submit" name="send-code" value="resend code" style="display: none">
    </form>
</div>