
<form action="/customer/signup/checkcode" method="post">
    <!--<div> Phone number: </div>-->
    <p><input type="text" name="phone" id="phone-number" value={{phone}}>
        <label for="phone-code">Phone number</label></p>
    <p><input type="text" name="code" id="phone-code" >
        <label for="phone-code">Input code</label></p>
    <input type="submit" name="sign-up" value="Check code">
</form>