
<h1>Hello, customer!</h1>
<p><input type="text" name="phone" id="phone-number"  onclick="sendCode()">
    <label for="phone-number">Input your phone number</label></p>

<!--<input type="button" name="sign-up" value="Send code" onclick="signUp(phone-number.value)">-->
