<div class="wrap-vertical">
    <div class="instructions">{{message}}</div>
    <form class="button-login-form" action="/customer/login" method="get">
        <input class="submit-button" type="submit" name="to-login-page" value="LOGIN">
    </form>
</div>