<div class="wrap-vertical medium">
    <div class="instructions">Input your phone number</div>
    <div class="additional-instructions">You must confirm your phone number by sms code, then you can make new password.</div>
    <div class="error-message">{{errorMessage}}</div>
    <form class="phone-form" id="forgot-passw-sendcode" action="/customer/login/confirmphone" method="post">
        <input class="phone-number" type="text" name="phone" id="phone-number" value={{phone}} >
        <input class="submit-button" type="submit" name="send-code" value="Send code">
    </form>
</div>

<div class="links-field">
    <form action="/customer/login" method="get">
        <div class="login-link"> If you want to come back to login page, please click back
            <input class="link-button" type="submit" name="to-login-page" value="LOGIN">
        </div>
    </form>
    <form action="/customer/signup" method="get">
        <div class="login-link"> If you do not have an account, please
            <input class="link-button" type="submit" name="to-signup-page" value="SIGN UP">
        </div>
    </form>
</div>

<script>
    $('#phone-number').mask('+7(999)999-99-99');
</script>