<h1> Hello, customer!</h1>
<h2>Welcome to your account!</h2>

<form action="/customer/logout" method="get">
    <input class="submit-button" type="submit" name="log-out" value="LOG OUT" id="log-out">
</form>

<!--<form action="/customer/account/changepassword" method="get">-->
    <!--<input type="hidden" name="phone" id="phone-number" value=>-->
    <!--<input class="submit-button" type="submit" name="change-password" value="Change password" id="change-password">-->
<!--</form>-->