<form action="/customer/login" method="post">
    <!--<div> Phone number: </div>-->
    <p><input type="text" name="phone" id="phone-number">
        <label for="phone-code">Phone number</label></p>
    <p><input type="password" name="password" id="password-login">
        <label for="password-login">Password</label></p>
    <input type="hidden" name="role" value="customer">
    <input type="submit" name="sign-up" value="Login">
</form>
{{errorMessage}}