<div class="wrap-vertical big">
    <div class="instructions">Make new password</div>
    <div class="additional-instructions">Password must be at least 8 characters long and it must contain uppercase, lowercase characters and digits.</div>
    <div class="error-message">{{errorMessage}}</div>

    <form action="/customer/login/changepassword" method="post">
        <input type="hidden" name="phone" id="phone-number" value={{phone}}>
        <input type="hidden" name="code" id="phone-code"  value={{code}}>

        <div class="registration-input"><input type="password" name="password" id="password1" >
            <label for="user-name">Password</label></div>
        <div class="registration-input"><input type="password" name="repeatPassword" id="password2" >
            <label for="user-name">Repeat password</label></div>
        <div class="button-wrap"><input class="submit-button" type="submit" name="sign-up" value="Change"></div>
    </form>
</div>

<div class="links-field">
    <form action="/customer/login" method="get">
        <div class="login-link"> If you want to come back to login page, please click back
            <input class="link-button" type="submit" name="to-login-page" value="LOGIN">
        </div>
    </form>
    <form action="/customer/signup" method="get">
        <div class="login-link"> If you do not have an account, please
            <input class="link-button" type="submit" name="to-signup-page" value="SIGN UP">
        </div>
    </form>
</div>