<form action="/customer/signup/registration" method="post">
    <!--<div> Phone number: </div>-->
    <p><input type="text" name="phone" id="phone-number" value={{phone}}>
        <label for="phone-code">Phone number</label></p>
    <p><input type="text" name="code" id="phone-code"  value={{code}}>
        <label for="phone-code">Input code</label></p>
    <p><input type="text" name="name" id="user-name" >
        <label for="user-name">Name</label></p>
    <p><input type="password" name="password" id="password" >
        <label for="user-name">Password</label></p>
    <input type="submit" name="sign-up" value="Register">
</form>