<!DOCTYPE html>
<html>
<head>
    <title>Customer</title>
    <script src="..\..\client\scripts\customer-signup.js">    </script>
    <meta charset="utf-8" />
</head>
<body>


{{{body}}}


</body>
<html>